*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.content_selectedStock {
  display: flex;
  flex-direction: column;
  padding: 50px 170px;
  /* overflow: auto; */
}
.title_logo > p > a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.title_logo > p > a :hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #4f9bcaf6;
}
.data_sell {
  display: flex;
  gap: 120px;
  align-items: center;
}
.stock_data {
  display: flex;
  flex-direction: column;
}
.stock_data > span {
  padding-top: 12px;
  padding-left: 15px;
  font-size: 26px;
  font-weight: 500;
  color: #212529;
}
.stock_data > p {
  padding-left: 15px;
  font-size: 10px;
}
.btnBuyDiv {
  width: 142px !important;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #0179c3; */
  margin-right: 100px;
}
.btnBuy {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: #09ff00;
  padding: 8px 19px;
  border-radius: 4px;
  color: #000;
  font-size: 16px;
}
.btnBuy:hover {
  /* text-decoration: underline;
  text-underline-offset: 3px; */
  transform: scale(1.1);
}
.content_ {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: #212529 solid 1px; */
}
.desc {
  padding-top: 50px;
  font-size: 18px;
  text-align: justify;
  letter-spacing: normal;
  color: #212529;
  word-wrap: inherit;
  word-break: inherit;
  line-height: 1.5;
  /* border: #212529 solid 1px; */
}
.dataFlow {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  gap: 10px;
}
.btn {
  padding: 5px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btnDays {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: 82px !important;
  border: none;
  background-color: #4f9bcaf6;
  padding: 7px 15px;
  border-radius: 4px;
  color: #fff;
  font-size: 10px;
}
.chart {
  width: 800px !important;
  height: 350px !important;
  padding: 20px;
  display: flex;
  /* border: 2px solid rgba(0, 0, 0, 0.1); */
}
