*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}
.container,
.dashboard_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* backdrop-filter: blur(2px); */
}
.background_img {
 
margin:0;
padding:0;
font-family: Arial, Helvetica, sans-serif;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background-image: url(assets/background.jpg);
}



.header {
  width: 100%;
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 30px;
  background-color: #02283e;
  font-weight: 600;
  color: #e5e5e5;
  gap: 10px;
}
.title {
  font-size: 1.4rem;
}
.logo {
  height: 1.4rem;
  width: 1.4rem;
}
.footer {
  width: 100%;
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  color: #e5e5e5;
  /* border-top: 1px solid #e5e5e5; */
}
.body {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}
.signinContent {
  height: 320px;
  width: 470px;
  margin-right: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e9e8f0b0;
  border-radius: 8px;
  /* opacity: 0.6; */
  gap: 10px;
  box-shadow: 2px 2px 4px 4px rgba(53, 74, 97, 0.6);
}
.content > h3 {
  font-size: 24px;
}
.txtEmail,
.txtPass {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  padding: 10px;
  color: #000;
}
.btnSignin,
.btnSignup {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  margin: 0px 10px;
}
.btnSignin:hover,
.btnSignup:hover {
  background-color: #f5f5f5;
}
.signup_body {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}
.signup_content {
  height: 610px;
  width: 480px;
  margin-right: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e5e5e5b0;
  box-shadow: 2px 2px 4px 4px rgba(53, 74, 97, 0.6);
  border-radius: 8px;
  /* opacity: 0.9; */
}
.signup_content > div > h3 {
  font-size: 1.5rem;
}
.name {
  width: 180px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  padding: 10px;
}

.textarea_signup {
  resize: none;
  width: 360px;
  height: 100px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  padding: 10px;
}
.email_signup,
.pass_signup,
.mobileNo_signup,
.panNo_signup {
  width: 360px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  padding: 10px;
}
.btnSignup_singup {
  width: 360px;
  height: 40px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  font-size: 18px;
  font-weight: 400;
}
.btnSignup_singup:hover {
  background-color: #f5f5f5;
}
