*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.content_transactionHistory {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 170px;
  overflow: auto;
}
.content_transactionHistory > table {
  text-align: left;
  margin-top: 1rem;
  color: #212529;
  border-collapse: collapse;
  /* border: 1px solid rebeccapurple; */
}
.content_transactionHistory > table > tbody > tr:nth-of-type(2n + 1) {
  background-color: rgb(233, 236, 239);
}

.content_transactionHistory > table > thead > tr > th,
.content_transactionHistory > table > tbody > tr > td {
  padding: 1.5rem;
  vertical-align: top;
  border-top: 1px dashed #dee2e6;
  border-bottom: 1px dashed #dee2e6;
}

.content_transactionHistory > table > thead > tr > th:nth-child(4),
.content_transactionHistory > table > tbody > tr > td:nth-child(1),
.content_transactionHistory > table > thead > tr > th:nth-child(2),
.content_transactionHistory > table > tbody > tr > td:nth-child(2),
.content_transactionHistory > table > thead > tr > th:nth-child(3),
.content_transactionHistory > table > tbody > tr > td:nth-child(3) {
  text-align: center;
  width: 180px;
}
.content_transactionHistory > table > thead > tr > th:nth-child(1),
.content_transactionHistory > table > tbody > tr > td:nth-child(1) {
  text-align: center;
  width: 260px;
}
/* .content_transactionHistory > table > thead > tr > th:nth-child(5),
.content_transactionHistory > table > tbody > tr > td:nth-child(5),
.content_transactionHistory > table > thead > tr > th:nth-child(6),
.content_transactionHistory > table > tbody > tr > td:nth-child(6) {
  width: 230px;
  text-align: center;
} */
